.app-shell {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
}

.font-headline {
  font-family: 'Epilogue', sans-serif;
}

.material-symbols-outlined {
  display: inline-block;
  direction: ltr;
  font-family: 'Material Symbols Outlined';
  font-size: 24px;
  font-feature-settings: 'liga';
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}